{{#with car}}
    <a href="#" class="flex items-center overflow-hidden bg-text-white md:bg-grey-bg md:rounded-md shadow-theme-grey hover:shadow-theme-grey-hover transition-all">
        <img src="src/img/{{img}}" alt="" class="w-20 h-16 md:w-20 md:h-24 lg:w-24 lg:h-20 xl:w-32 flex-none object-cover">
        <div class="px-3 py-1 overflow-x-hidden">
            <h2 class="text-text-enable lg:h3 uppercase truncate">{{name}}</h2>
            <p class="h4">{{price}}</p>
        </div>
    </a>
{{/with}}