{{#with car}}
    <div class="swiper-slide">
        <div class="w-[313px] sm:w-80 md:w-[360px] lg:w-full bg-text-white shadow-theme-grey relative rounded overflow-hidden">
            <div class="relative rounded">
                <a href="/auto.html">
                    <img src="src/img/similar.jpeg" class="w-full h-44 xl:h-52 2xl:h-72 object-cover rounded" alt="{{name}}">
                </a>
                <div class="absolute top-0 right-0 p-2 flex flex-col gap-3 bg-black bg-opacity-40 rounded-bl">
                    <button type="button" class="text-white opacity-80 hover:opacity-100">
                        <span class="icon-heart text-2xl"></span>
                    </button>
                    <button type="button" class="text-white opacity-80 hover:opacity-100">
                        <span class="icon-femida text-2xl"></span>
                    </button>
                </div>
            </div>
            <div class="p-4 px-3 pb-5 2xl:px-4">
                <a href="/auto.html" class="h3">{{name}}</a>
                <div class="mt-4 w-full grid grid-cols-2 xl:grid-cols-3 gap-2 xl:gap-x-1 xl:gap-y-2.5 pb-4 border-b-2 border-grey-light">
                    <div class="flex items-center">
                        <span class="icon-engine text-2xl text-text-enable mr-3"></span>
                        <span class="truncate">3.2</span>
                    </div>
                    <div class="flex items-center">
                        <span class="icon-gas-station text-2xl text-text-enable mr-3"></span>
                        <span class="truncate">бензин</span>
                    </div>
                    <div class="flex items-center">
                        <span class="icon-gasoline text-2xl text-text-enable mr-3"></span>
                        <span class="truncate">8,5л/100 км</span>
                    </div>
                    <div class="flex items-center">
                        <span class="icon-odometr text-2xl text-text-enable mr-3"></span>
                        <span class="truncate">48 000 км</span>
                    </div>
                    <div class="flex items-center">
                        <span class="icon-transmission text-2xl text-text-enable mr-3"></span>
                        <span class="truncate">автомат</span>
                    </div>
                    <div class="flex items-center">
                        <span class="icon-damages text-2xl text-text-enable mr-3"></span>
                        <span class="truncate">втоплений</span>
                    </div>
                </div>
                <div class="mt-3 pb-3 border-b-2 border-grey-light">
                    <div class="flex items-center justify-center gap-4 xl:gap-3">
                        <h4 class="h4">Ціна:</h4>
                        <h2 class="h2 text-red-core">$14 850</h2>
                    </div>
                </div>
                <div class="mt-4 flex flex-col xl:flex-row lg:flex-col 2xl:flex-row xl:justify-center items-center gap-2 xl:gap-3">
                    <button type="button" class="w-full xl:w-auto btn-shadow-sm px-10"><span data-content="Зробити ставку">Зробити ставку</span></button>
                    <button type="button" class="w-full xl:w-auto btn-sm px-6"><span data-content="Детальніше">Детальніше</span></button>
                </div>
            </div>
        </div>
    </div>
{{/with}}