@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .btn-primary {
        @apply relative py-2.5 px-5 before:bg-white dark:before:bg-black before:content-[''] before:absolute before:inset-0 hover:before:animate-[pulse_1s_infinite];
    }
    .btn-primary:before {
        clip-path: polygon(0 0,calc(100% - 10.00px) 0,100% 10.00px,100% 100%,10.00px 100%,0 calc(100% - 10.00px),0 0,2px  2px ,2px calc(100% - 10.00px - 0.83px),calc(10.00px + 0.83px) calc(100% - 2px),calc(100% - 2px) calc(100% - 2px),calc(100% - 2px) calc(10.00px + 0.83px),calc(100% - 10.00px - 0.83px) 2px,2px 2px);
    }
    .before-rect {
        @apply before:content-[''] before:absolute before:top-0 before:left-14 before:w-screen before:h-6 before:border-l before:border-t before:border-neutral-700 after:content-[''] after:absolute after:bottom-0 after:left-14 after:w-screen after:h-6 after:border-l after:border-b after:border-neutral-700
    }
    .contacts-before {
        @apply before:content-[''] before:absolute before:top-0 before:left-14 before:w-full before:h-10 before:border-l before:border-t before:border-neutral-700 after:content-[''] after:absolute after:bottom-0 after:left-14 after:w-full after:h-10 after:border-l after:border-b after:border-neutral-700
    }
    .nav-item {
        @apply relative flex items-center gap-3 leading-[24px];
    }
}
.fp-is-overflow .fp-overflow.fp-auto-height, .fp-is-overflow .fp-overflow.fp-auto-height-responsive, .fp-is-overflow>.fp-overflow {
    overflow-x: hidden!important;
}
.animation-reverse {
    animation-direction: reverse;
}
#main-menu ul .nav-item {
    @apply transition-all duration-300 opacity-0 -translate-x-full
}
#main-menu ul.show .nav-item {
    @apply translate-x-0 opacity-100
}
#btn-open-menu span.decor {
    @apply w-full h-px absolute left-0 m-auto pointer-events-none block bg-white dark:bg-black;
}
#btn-open-menu span.decor:nth-child(1) {
    -webkit-transform-origin: center;
    transform-origin: center;
    top: 0;
    right: auto;
    bottom: auto;
    transition: top .3s ease,left .3s ease,right .3s ease,bottom .3s ease,margin .3s ease,-webkit-transform .3s ease;
    transition: transform .3s ease,top .3s ease,left .3s ease,right .3s ease,bottom .3s ease,margin .3s ease;
    transition: transform .3s ease,top .3s ease,left .3s ease,right .3s ease,bottom .3s ease,margin .3s ease,-webkit-transform .3s ease;
}
#btn-open-menu span.decor:nth-child(2) {
    transition: background-color .1s ease,opacity .3s .2s ease,-webkit-transform .3s .1s ease;
    transition: background-color .1s ease,transform .3s .1s ease,opacity .3s .2s ease;
    transition: background-color .1s ease,transform .3s .1s ease,opacity .3s .2s ease,-webkit-transform .3s .1s ease;
    opacity: 1;
    top: 0;
    bottom: 0;
    right: auto;
    transform: translateX(0);
}
#btn-open-menu span.decor:nth-child(3) {
    width: 16px;
    bottom: 0;
    right: auto;
    left: 6px;
    -webkit-transform-origin: center;
    transform-origin: center;
    transition: top .3s ease,left .3s ease,right .3s ease,bottom .3s ease,margin .3s ease,-webkit-transform .3s ease;
    transition: transform .3s ease,top .3s ease,left .3s ease,right .3s ease,bottom .3s ease,margin .3s ease;
    transition: transform .3s ease,top .3s ease,left .3s ease,right .3s ease,bottom .3s ease,margin .3s ease,-webkit-transform .3s ease;
}
#btn-open-menu.active span.decor:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#btn-open-menu.active span.decor:nth-child(2) {
    opacity: 0;
    transition: opacity .3s ease,-webkit-transform .3s ease;
    transition: transform .3s ease,opacity .3s ease;
    transition: transform .3s ease,opacity .3s ease,-webkit-transform .3s ease;
}
#btn-open-menu.active span.decor:nth-child(3) {
    width: auto;
    transform: rotate(-45deg);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Extrabld.eot');
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('../../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Extrabld.woff') format('woff'),
    url('../../fonts/ProximaNova-Extrabld.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('../../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Black.eot');
    src: local('Proxima Nova Black'), local('ProximaNova-Black'),
    url('../../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Black.woff') format('woff'),
    url('../../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNovaT-Thin.eot');
    src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
    url('../../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNovaT-Thin.woff') format('woff'),
    url('../../fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/ProximaNova-Light.eot');
    src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('../../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Light.woff') format('woff'),
    url('../../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Cond';
    src: url('../../fonts/ProximaNovaExCn-BlackIt.eot');
    src: local('Proxima Nova Cond Black'), local('ProximaNovaCond-Black-Cond'),
    url('../../fonts/ProximaNovaExCn-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNovaExCn-BlackIt.woff') format('woff'),
    url('../../fonts/ProximaNovaExCn-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


html {
    font-family: Proxima Nova, serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

.grid-lines span {
    visibility: hidden;
    opacity: 0
}
.grid-lines span:nth-child(1) {
    -webkit-animation: pulse 1s 1s forwards;
    animation: pulse 1s 1s forwards
}

.grid-lines span:nth-child(2) {
    -webkit-animation: pulse 1s 1.5s forwards;
    animation: pulse 1s 1.5s forwards
}

.grid-lines span:nth-child(3) {
    -webkit-animation: pulse 1s 1.8s forwards;
    animation: pulse 1s 1.8s forwards
}

.grid-lines span:nth-child(4) {
    -webkit-animation: pulse 1s 2.1s forwards;
    animation: pulse 1s 2.1s forwards
}

.grid-lines span:nth-child(5) {
    -webkit-animation: pulse 1s 2.4s forwards;
    animation: pulse 1s 2.4s forwards
}

@keyframes pulse {
    0%, 12% {
        visibility: hidden;
        opacity: 0
    }
    10%, 100%, 30% {
        visibility: visible;
        opacity: 1
    }
    32% {
        visibility: hidden;
        opacity: 1
    }
}


.glitch {
    position: relative;
}

.line:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}
.line:nth-child(1) {
    -webkit-animation: clip 3000ms -300ms linear infinite, glitch1 500ms -523ms linear infinite;
    animation: clip 3000ms -300ms linear infinite, glitch1 500ms -523ms linear infinite;
}
@keyframes glitch1 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(-1px);
        color: lightcoral;
    }
    90% {
        transform: translateX(0px);
        color: lightgreen;
    }
    95% {
        transform: translateX(-2px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(2) {
    -webkit-animation: clip 3000ms -600ms linear infinite, glitch2 500ms -331ms linear infinite;
    animation: clip 3000ms -600ms linear infinite, glitch2 500ms -331ms linear infinite;
}
@keyframes glitch2 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(-1px);
        color: lightcoral;
    }
    90% {
        transform: translateX(3px);
        color: lightgreen;
    }
    95% {
        transform: translateX(3px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(3) {
    -webkit-animation: clip 3000ms -900ms linear infinite, glitch3 500ms -472ms linear infinite;
    animation: clip 3000ms -900ms linear infinite, glitch3 500ms -472ms linear infinite;
}
@keyframes glitch3 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(5px);
        color: lightcoral;
    }
    90% {
        transform: translateX(1px);
        color: lightgreen;
    }
    95% {
        transform: translateX(-1px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(4) {
    -webkit-animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -573ms linear infinite;
    animation: clip 3000ms -1200ms linear infinite, glitch4 500ms -573ms linear infinite;
}
@keyframes glitch4 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(0px);
        color: lightcoral;
    }
    90% {
        transform: translateX(4px);
        color: lightgreen;
    }
    95% {
        transform: translateX(0px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(5) {
    -webkit-animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -433ms linear infinite;
    animation: clip 3000ms -1500ms linear infinite, glitch5 500ms -433ms linear infinite;
}
@keyframes glitch5 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(4px);
        color: lightcoral;
    }
    90% {
        transform: translateX(-4px);
        color: lightgreen;
    }
    95% {
        transform: translateX(-3px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(6) {
    -webkit-animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -638ms linear infinite;
    animation: clip 3000ms -1800ms linear infinite, glitch6 500ms -638ms linear infinite;
}
@keyframes glitch6 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(-2px);
        color: lightcoral;
    }
    90% {
        transform: translateX(-2px);
        color: lightgreen;
    }
    95% {
        transform: translateX(-4px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(7) {
    -webkit-animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -289ms linear infinite;
    animation: clip 3000ms -2100ms linear infinite, glitch7 500ms -289ms linear infinite;
}
@keyframes glitch7 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(3px);
        color: lightcoral;
    }
    90% {
        transform: translateX(0px);
        color: lightgreen;
    }
    95% {
        transform: translateX(-1px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(8) {
    -webkit-animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -956ms linear infinite;
    animation: clip 3000ms -2400ms linear infinite, glitch8 500ms -956ms linear infinite;
}
@keyframes glitch8 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(4px);
        color: lightcoral;
    }
    90% {
        transform: translateX(-3px);
        color: lightgreen;
    }
    95% {
        transform: translateX(4px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(9) {
    -webkit-animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -86ms linear infinite;
    animation: clip 3000ms -2700ms linear infinite, glitch9 500ms -86ms linear infinite;
}
@keyframes glitch9 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(-2px);
        color: lightcoral;
    }
    90% {
        transform: translateX(4px);
        color: lightgreen;
    }
    95% {
        transform: translateX(4px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}
.line:nth-child(10) {
    -webkit-animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -908ms linear infinite;
    animation: clip 3000ms -3000ms linear infinite, glitch10 500ms -908ms linear infinite;
}
@keyframes glitch10 {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(0);
        color: #fff;
    }
    85% {
        transform: translateX(-2px);
        color: lightcoral;
    }
    90% {
        transform: translateX(5px);
        color: lightgreen;
    }
    95% {
        transform: translateX(0px);
        color: #fff;
    }
    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes clip {
    0% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
        clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
    }
    100% {
        -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
        clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
    }
}

@keyframes clip {
    0% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
        clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
    }
    100% {
        -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
        clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
    }
}

.fp-watermark {
    display: none!important;
}


