<footer class="section footer min-h-screen sm:min-h-[auto] fp-auto-height">
    <div class="sm:container px-5 xl:max-w-screen-lg pt-24 pb-40">
        <div class="before-rect relative py-10 flex flex-col sm:flex-row items-center justify-between gap-5">
            <div>
                <h2 class="text-2xl xs:text-3xl sm:text-5xl md:text-6xl font-bold">Давайте сотрудничать</h2>
                <p class="mt-5 text-neutral-500">Наш опыт и знания позволяют нам реализовать любые задачи.</p>
            </div>
            <a href="contacts.html" class="btn-primary flex-none group group-hover:text-core-black group-hover:before:bg-black flex items-center justify-between gap-x-5">
                <span>Напишите нам</span><span class="font-icon icon-arrow_forward group-hover:translate-x-1 transition-transform duration-300 text-xl"></span></a>
        </div>
    </div>
</footer>