<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="./src/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./src/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./src/favicons/favicon-16x16.png">
    <link rel="manifest" href="./src/favicons/manifest.json">
    <link rel="mask-icon" href="./src/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <meta itemprop="name" content="STYZZO">
    <meta itemprop="description" content="Твое. Цифровое. Производство.">
    <meta itemprop="image" content="http://styzzo.den.hulk.nixsolutions.com/dist/images/meta.png">

    <meta name="author" content="STYZZO">
    <meta name="description" content="Твое. Цифровое. Производство.">
    <meta name="keywords" content="STYZZO Твое. Цифровое. Производство.">

    <meta property="og:title" content="STYZZO">
    <meta property="og:url" content="http://styzzo.den.hulk.nixsolutions.com/dist">
    <meta property="og:description" content="Твое. Цифровое. Производство.">
    <meta property="og:image" content="http://styzzo.den.hulk.nixsolutions.com/dist/images/meta.png">
    <title>{{title}}</title>

</head>
<body class="bg-core-black text-white">
{{>nav}}
<div id="preloader" class="z-[100] fixed inset-0 flex items-center justify-center bg-core-black transform transition-all duration-700">
    <div>
        <div class="relative h-36 w-36 flex items-center overflow-hidden justify-center before:content-[''] before:absolute before:h-[140%] before:w-24 before:animate-[spin_3s_ease-in-out_infinite] before:bg-white
        after:content-[''] after:absolute after:inset-1 after:bg-core-black">
            <span class="text-8xl z-10">S</span>
        </div>
        <p class="mt-6 text-sm text-center tracking-[0.8em] uppercase animate-pulse">Загрузка</p>
    </div>
</div>
<div id="fullPage">
