<div id="main-menu" class="fixed w-screen top-0 flex h-0 overflow-hidden items-center justify-center transition-all duration-500 bg-core-black z-40">
    <div class="sm:container px-5">
        <ul class="flex flex-col lg:flex-row items-center text-xl sm:text-2xl font-bold justify-evenly gap-y-6 xs:gap-10">
            <li data-aos="fade-up" data-aos-delay="100" data-count="01" class="nav-item group">
                <div class="relative h-5 w-5 flex items-center justify-center z-0">
                    <span class="transition-all mb-8 group-hover:mb-0 font-roboto text-base font-bold opacity-20">01</span>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-500  absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-20 w-20">
                        <div class="h-full w-full rounded-full border-2 opacity-50"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-700 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-36 w-36">
                        <div class="h-full w-full rounded-full border-2 border-dashed opacity-40 animate-spin-7x animation-reverse"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-1000 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-48 w-48">
                        <div class="h-full w-full rounded-full border border-dashed opacity-20 animate-spin-8x"></div>
                    </div>
                </div>
                <a href="/" class="relative z-10">Главная</a>
            </li>
            <li data-aos="fade-up" data-aos-delay="200" data-count="02" class="nav-item group">
                <div class="relative h-5 w-5 flex items-center justify-center z-0">
                    <span class="transition-all mb-8 group-hover:mb-0 font-roboto text-base font-bold opacity-20">02</span>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-500  absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-20 w-20">
                        <div class="h-full w-full rounded-full border-2 opacity-50"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-700 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-36 w-36">
                        <div class="h-full w-full rounded-full border-2 border-dashed opacity-40 animate-spin-7x animation-reverse"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-1000 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-48 w-48">
                        <div class="h-full w-full rounded-full border border-dashed opacity-20 animate-spin-8x"></div>
                    </div>
                </div>
                <a href="/about.html" class="relative z-10">О нас</a>
            </li>
            <li data-aos="fade-up" data-aos-delay="300" data-count="03" class="nav-item group">
                <div class="relative h-5 w-5 flex items-center justify-center z-0">
                    <span class="transition-all mb-8 group-hover:mb-0 font-roboto text-base font-bold opacity-20">03</span>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-500  absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-20 w-20">
                        <div class="h-full w-full rounded-full border-2 opacity-50"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-700 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-36 w-36">
                        <div class="h-full w-full rounded-full border-2 border-dashed opacity-40 animate-spin-7x animation-reverse"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-1000 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-48 w-48">
                        <div class="h-full w-full rounded-full border border-dashed opacity-20 animate-spin-8x"></div>
                    </div>
                </div>
                <a href="/services.html" class="relative z-10">Услуги</a>
            </li>
            <li data-aos="fade-up" data-aos-delay="400" data-count="04" class="nav-item group">
                <div class="relative h-5 w-5 flex items-center justify-center z-0">
                    <span class="transition-all mb-8 group-hover:mb-0 font-roboto text-base font-bold opacity-20">04</span>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-500  absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-20 w-20">
                        <div class="h-full w-full rounded-full border-2 opacity-50"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-700 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-36 w-36">
                        <div class="h-full w-full rounded-full border-2 border-dashed opacity-40 animate-spin-7x animation-reverse"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-1000 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-48 w-48">
                        <div class="h-full w-full rounded-full border border-dashed opacity-20 animate-spin-8x"></div>
                    </div>
                </div>
                <a href="/projects.html" class="relative z-10">Проекты</a>
            </li>
            <li data-aos="fade-up" data-aos-delay="500" data-count="05" class="nav-item group">
                <div class="relative h-5 w-5 flex items-center justify-center z-0">
                    <span class="transition-all mb-8 group-hover:mb-0 font-roboto text-base font-bold opacity-20">05</span>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-500  absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-20 w-20">
                        <div class="h-full w-full rounded-full border-2 opacity-50"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-700 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-36 w-36">
                        <div class="h-full w-full rounded-full border-2 border-dashed opacity-40 animate-spin-7x animation-reverse"></div>
                    </div>
                    <div class="scale-0 group-hover:scale-100 transition-all duration-1000 absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-48 w-48">
                        <div class="h-full w-full rounded-full border border-dashed opacity-20 animate-spin-8x"></div>
                    </div>
                </div>
                <a href="/contacts.html" class="relative z-10">Контакты</a>
            </li>
            <li data-aos="fade-up" data-aos-delay="600" class="sm:hidden nav-item mt-1">
                <div class="flex text-base items-center gap-x-3">
                    <a href="/" class="uppercase text-neutral-500 pointer-events-none">UA</a>
                    <a href="/" class="uppercase underline decoration-neutral-500 underline-offset-2 hover:opacity-75">RU</a>
                    <a href="/" class="uppercase underline decoration-neutral-500 underline-offset-2 hover:opacity-75">EN</a>
                </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="700" class="sm:hidden nav-item mt-1">
                <button type="button" class="text-base flex btn-primary group uppercase"><span>Оставить заявку</span></button>
            </li>
            <li data-aos="fade-up" data-aos-delay="800" class="sm:hidden nav-item mt-1">
                <div class="flex items-center gap-x-4">
                    <a href="/" class="block"><span class="font-icon icon-facebook2 text-xl"></span></a>
                    <a href="/" class="block"><span class="font-icon icon-instagram text-xl"></span></a>
                    <a href="/" class="block"><span class="font-icon icon-linkedin text-xl"></span></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="nav" class="w-full fixed top-0 z-50 transition-all ease-out">
    <nav class="relative dark:text-core-black sm:container mx-auto px-5 flex justify-between py-4 sm:pt-10 sm:pb-2">
        <div data-aos="fade-down-right" data-aos-duration="1000">
            <a href="/"><img alt="" id="nav-logo-img" src="src/img/logo.svg" class="w-24"></a>
            <p class="hidden sm:block ml-1 mt-2 font-bold text-[13px]">ТВОЕ.<br>
                ЦИФРОВОЕ.<br>
                ПРОИЗВОДСТВО.</p>
        </div>
        <div data-aos="fade-down-left" data-aos-duration="1000" class="flex flex-col items-end justify-between">
            <div class="flex items-center gap-x-3">
                <div class="hidden sm:flex items-center gap-x-3">
                    <a href="/" class="text-neutral-500 pointer-events-none">UA</a>
                    <a href="/" class="underline decoration-neutral-500 underline-offset-2 hover:opacity-75">RU</a>
                    <a href="/" class="underline decoration-neutral-500 underline-offset-2 hover:opacity-75">EN</a>
                </div>
                <button type="button" class="hidden sm:flex ml-3 btn-primary group uppercase"><span>Оставить заявку</span></button>
            </div>
            <button id="btn-open-menu" data-opent-menu="" type="button" class="relative relative h-5 w-[22px] cursor-pointer block mt-0 sm:mt-8">
                <span class="decor"></span>
                <span class="decor pointer-events-none block h-px bg-white dark:bg-black"></span>
                <span class="decor pointer-events-none block h-px bg-white dark:bg-black"></span>
            </button>
        </div>
        <span id="border-for-animate" class="pointer-events-none block absolute right-3 top-[calc(100%_-_1px)] w-0 h-px bg-white dark:bg-black transition-all duration-300 ease-in"></span>
    </nav>
</div>

<div class="hidden sm:block fixed bottom-10 w-full z-30">
    <div class="sm:container mx-auto px-5">
        <div class="flex items-center gap-x-4">
            <a href="/" class="block text-neutral-500 hover:text-white dark:text-core-black dark:hover:opacity-75"><span class="font-icon icon-facebook2 text-xl"></span></a>
            <a href="/" class="block text-neutral-500 hover:text-white dark:text-core-black dark:hover:opacity-75"><span class="font-icon icon-instagram text-xl"></span></a>
            <a href="/" class="block text-neutral-500 hover:text-white dark:text-core-black dark:hover:opacity-75"><span class="font-icon icon-linkedin text-xl"></span></a>
        </div>
    </div>
</div>
